.login-container {
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.login-container h1 {
  font-size: 30px;
  font-weight: bold;
}

.login-form button {
  color: white;
  border: none;
  font-size: 18px;
  background-color: #2baeb7;
  padding: 10px 20px;
  border-radius: 5px;
}

.login-form input {
  padding: 10px 20px;
  border: none;
  border-bottom: pink 1px solid;
}

.login-link {
  text-decoration: none;
  color: #2baeb7;
}
